# ------------------ PYTHON ------------------
__pycache__/
*.pyc
*.pyo

# Virtual environment
venv/
.venv/

# ------------------ DATABASE ------------------
*.db
instance/

# ------------------ UPLOADS ------------------
uploads/

# ------------------ ENV / SECRETS ------------------
.env
.env.production


# ------------------ LOGS ------------------
*.log

# ------------------ OS FILES ------------------
.DS_Store
Thumbs.db

# ------------------ EDITOR ------------------
.vscode/

# ------------------ NODE (if used) ------------------
node_modules/

# ------------------ BUILD ------------------
dist/
build/